.root__main-startPage {
    margin-left: 8%;
    margin-top: -6%;
}

.main__title {
    font-weight: 300;
    font-size: 8vh;
    font-size: 6.8vw;
}

.main__text {
    font-size: 4vh;
    font-size: 2vw;
    font-weight: 290;
    margin-top: -4.8%;
    margin-left: 3%;
}

.main__button {
    border: none;
    background: #5E659D;
    color: white;
    border-radius: 10px;
    height: 8vh;
    width: 12vw;
    font-size: 3.5vh;
    margin-left: 17%;
}

.main__image__girl-startPage {
    position: absolute;
    top: 0;
    right: -6%;
    z-index: -2;
    height: 100vh;
}