body {
  font-size: 16px;
  color: #404040;
  background: white;
}
body {
font-size: 0.7rem;
}

main {
padding: 1rem 1rem;
}

.logo-image {
height: 3rem;
}

.play-icon {
height: 3rem;
}

header {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
}

.navigation-menu {
display: none;
}

header .get-started-button {
display: none;
}

.burger-icon {
width: 50px;
height: 64px;
top: 2rem;
right: 2rem;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 20px 8px;
box-sizing: border-box;
color: #ada7ff;
border: none;
}

.page-title {
margin-top: -5px;
font-size: 3.5rem;
font-weight: 800;
}

.title-description {
width: 100%;
}

.page-title strong {
color: #9a93ff;
}

.image-frame {
width: fit-content;
display: flex;
position: relative;
}

.image-background {
height: 18rem;
}

.image-frame::before {
content: "";
background-image: url(../assets/images/dog-sitting.png);
position: absolute;
background-size: cover;
width: 70%;
height: 100%;
top: 5%;
left: 60%;
transform: translateX(-50%);
}

.adopt-button {
background-color: #ada7ff;
height: 3rem;
width: 9rem;
border-radius: 1.8rem;
border: none;
color: white;
width: 10rem;
display: flex;
align-items: center;
justify-content: space-around;
padding: 0 1rem;
}

.adopt-button::after {
content: url(../assets/images/dog-print.png);
text-align: center;
}

.video-container {
display: flex;
padding-top: 1rem;
}

.watch-video {
display: flex;
align-items: center;
}

.watch-video p {
color: #ada7ff;
width: 100%;
margin-left: 0.7rem;
font-weight: 600;
}

.watch-video img {
margin-left: 2rem;
}

.achievements-container {
display: flex;
}

.image-block {
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
z-index: -1;
padding-top: 1rem;
}

.cat-image::before {
background-image: url(../assets/images/cat-lying.png);
width: 130%;
height: 130%;
transform: translate(-48%, -14%);
}

.achievement-list {
display: flex;
list-style: none;
padding: 0;
}

.achievement-number {
font-size: 2.5rem;
margin-top: 1.5rem;
margin-bottom: 1rem;
}

.achievement-list li:not(:last-of-type) {
margin-right: 4rem;
}

.achievement-text {
color: #686868;
}

.cat-image .cat-print-image {
bottom: 0;
}

.cats-container,
.dogs-container {
display: flex;
justify-content: space-between;
}

.cats-container {
align-items: flex-end;
transform: translate(0, -60%);
overflow: hidden;
}

.dogs-container {
align-items: flex-start;
}

.title-container {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.hero-section {
display: flex;
flex-direction: column;
justify-content: space-between;
}

@media screen and (min-width: 769px) {
html {
font-size: 1rem;
}

main {
padding: 2rem 9rem;
}

.nav-menu {
display: flex;
list-style: none;
font-weight: 600;
visibility: visible;
}

.menu:not(:last-of-type) {
margin-right: 1.5rem;
}

.menu:first-of-type {
color: #9a93ff;
}

.burger-icon::before,
.burger-icon::after,
.burger-icon span {
display: none;
border-bottom: 5px solid;
border-radius: 90px;
}

header .get-started-button {
background-color: #ada7ff;
height: 3.5rem;
width: 9rem;
border-radius: 1.8rem;
border: none;
color: white;
visibility: visible;
}

.burger-icon {
visibility: hidden;
}

.hero-section {
padding-top: 5rem;
flex-direction: row;
align-items: center;
}

.page-title {
font-size: 4.5rem;
margin-top: 3rem;
}

.title-description {
width: 52%;
}

.image-block {
flex-direction: column;
width: 50%;
position: absolute;
right: 0;
z-index: -1;
padding-top: 2rem;
margin-right: 4rem;
}

.cats-container,
.dogs-container {
justify-content: space-around;
}

.cats-container {
align-items: flex-end;
transform: translate(0, -25%);
}
}



