html {
  font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

  html {
    font-size: 16px;
    overflow-x: hidden;
   
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}


  body {
    background-color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    color: white;
  }
  


.header{
  height: 180vh;
  position: relative;
  background-image: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%),
  linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%),
  url(../assets/images/hero-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav-wrapper{
  margin-bottom: 196px;
}


.logo{
  padding-left:85px;
  font-weight: 700;
  font-size: 24px;
}

.nav{
  padding: 3.4% 4.4%;
  justify-content: space-between;
}


.nav ul { 
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}



nav li + li{
  margin-left: 50px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight:700;

}
.nav a:hover {
color: #fff;
}

.search {
  font-size: 17px;
  font-weight: 700;
  padding-right: 84px;
  text-decoration: none;
  color:#fff;
}
.search:hover {
  color: #fff;

}
.container-wide {
  width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
display: flex;
}

.space-between{
  justify-content: space-between;
}

.aline-center {
  align-items: center;
}

.hero {
  display: block;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 843px;
  max-width:980px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration:none;
  transition:transform 0.8s cubic-bezier(0.660,0,215,0.295,1.640); 

}
.hero :hover{
  transform: translateY(-5);
}

.hero-category{
  margin-bottom: 32px;
  position: relative;
  padding-left: 104px;
  font-weight:800;
  font-size:18px;
  line-height:1.22px;
  letter-spacing:6px;
  text-transform: uppercase;
  color: #FFC178;
}

.hero-category::before {
  position:absolute;
  left: 0;
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  background-color: #FFC178;

}

.hero-title {
  width: 950px;
  height: 204px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  
  text-transform: capitalize;
  
  color: #FFFFFF;

  flex: none;
 order: 1;
 flex-grow: 0;

}

.hero-scroll {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  left: 700px;
  top: 674px;
  
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #FFFFFF;

}

.hero-scroll::after{
  display: block;
  content:"";
  position:absolute;
  right:0;
  top:0;
  transform:translateY(-50%);
  width: 16px;
  height: 24px;
  color: #fff;
}


.container {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align:center;
  margin-bottom: 250px;
}


.article {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.article:nth-child(1) {
flex-direction: row-reverse;
margin-bottom: 250px;
}

.article-text {
 
  padding-left: 232px;
  max-width: 864px;

}

.article-subtitle {

    margin-bottom: 32px;
    position: relative;
    padding-left: 96px;
    font-weight:303px;
    font-size:18px;
    line-height:1.22px;
    letter-spacing:6px;
    text-transform: uppercase;
    color: #FFC178;
  }
  
  .article-subtitle::before {
    position:absolute;
    left: 0;
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FFC178;
  
  }


.article-title {
margin-bottom: 27px;
max-width: 555px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;

color: #FFFFFF;

flex: none;
order: 1;
flex-grow: 0;
}

.article-text p {

  padding: 27px 0;
  line-height: 1.7rem;
  color: #FFFFFF;

}


.article-read-more {
    color: #FBD784;
  }


  /*cont*/
  /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 250px;
}

.bottom-left {
  position: absolute;
  width: 94px;
  height: 25px;
  left: 680px;
  top: 500px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}

.top-left {
position: absolute;
width: 705px;
height: 174px;
left: 380px;
top: 550px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 87px;
text-align: center;

color: #FFFFFF;

}


.top-right {
  position: absolute;
  width: 934px;
  height: 96px;
  left: 263px;
  top: 750px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  
  color: #FFFFFF;
  

}

.bottom-right {
  position: absolute;
  width: 94px;
  height: 25px;
  left: 680px;
  top: 870px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  
  color: #FBD784;

}


/*cont2*/
  .container_2 {
    max-width: 1430px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: center;
    margin-bottom: 250px;
  }
  
  
  .article_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .article_2:nth-child(1) {
  flex-direction: row-reverse;
  }
  
  .article-text_2 {
   
    padding-left: 232px;
    max-width: 864px;
  
  }
  
  .article-subtitle_2 {
  
      margin-bottom: 32px;
      position: relative;
      padding-left: 96px;
      font-weight:303px;
      font-size:18px;
      line-height:1.22px;
      letter-spacing:6px;
      text-transform: uppercase;
      color: #FFC178;
    }
    
    .article-subtitle_2::before {
      position:absolute;
      left: 0;
      display: block;
      content: "";
      width: 72px;
      height: 2px;
      background-color: #FFC178;
    
    }
  
  
  .article-title_2 {
  margin-bottom: 27px;
  max-width: 555px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  
  color: #FFFFFF;
  
  flex: none;
  order: 1;
  flex-grow: 0;
  }
  
  .article-text_2 p {
  
    padding: 27px 0;
    line-height: 1.7rem;
    color: #FFFFFF;
  
  }
  
  
  .article-read-more_2 {
      color: #FBD784;
    } 
    
/*Footer*/



.footer__qwery {
  font-size: 38px;
}

.wrapper {
  display: flex;
}

.wrapper p {
  padding-right: 60px;
}

.devider {
  width: 100%
}

.offer-text {
  font-size: 30px;
  font-weight: 600;
  width: 340px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  line-height: 40px;
  padding: 40px 40px;
}

.list li:first-child {
  color: #FFD1A0;
  font-weight: 600;
}

.lists {
  display: flex;
}

.Copyright {
  opacity: 50%;
  text-align: center;
  padding-top: 100px;
}

.email-form__input {
  font-size: 18px;
  height: 0px;
  width: 86%;
  border-top: none;
  border-left:none;
  border-right:none;
  border-width: 1px;
  border-bottom-color: #fff;
  opacity: 40%;
  background-color: #000;
  color: #fff;
  padding: 10px 50px 25px 10px;
  padding-top: 40px;
}

.email-form__input::placeholder{
  color: #fff;
}

.email-form button {
  width: 64px;
  height: 64px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  transform: translate(450%, -98%);
}

.email-form .slider-arrow {
  color: #000;
}

.footer__policy_wrapper {
  padding-top: 40px;
  display: flex;
}

.footer__policy {
  font-size: 12px;
}

.footer__policy:first-child {
  padding-left: 40px;
  padding-right: 100px;
}

footer .icon {
  padding-right: 40px;
  height: 20px;
}

.footer__last-line-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
